<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- bean definitions here -->
    <context:property-placeholder location="classpath:application.properties"/>
    <context:component-scan base-package="org.stroganov"/>


    <bean id="userInterface"
          factory-bean="userInterfaceFactory"
          factory-method="getUserInterface">
        <constructor-arg value="ConsoleInterface"/>
    </bean>

    <bean id="libraryDAO" class="org.stroganov.dao.DAOType" factory-method="valueOf" init-method="getLibraryDAO">
        <constructor-arg value="WEB_SERVICE_REST" />
    </bean>


</beans>

